
  <div class="sto-mbr-tg-top">
    <h1 class="sto-mbr-tg-logo"></h1>
    <p class="sto-mbr-tg-jecontinue"><a href="#" title="Continuer vers le site de Cora Drive" target="_self">Je continue mes courses<br/>sur coradrive.fr</a></p>
  </div>
  <ul id="sto-mbr-tg-nav">
    <li class="sto-mbr-nav-item nav-recettes">Les recettes</li>
    <li class="sto-mbr-nav-item nav-equilibre">L'equilibre alimentaire</li>
    <li class="sto-mbr-nav-item nav-petitdej"> Un petit déjeuner équilibré</li>
    <li class="sto-mbr-nav-item nav-amisbetes">Nos amis les bêtes</li>
    <li id="sto-mbr-nav-current" class="sto-mbr-nav-item nav-hydratation">Mon hydratation</li>
  </ul>
