<div id="sto-mbr-tg-purina" class="clearfix">

  <div class="sto-mbr-purina-frame1">
    <div class="sto-purina-frame1-decou-chiens"></div>
    <div class="sto-purina-frame1-decou-chats"></div>
  </div>
  <div class="sto-mbr-purina-frame2 clearfix">
    <div class="sto-purina-frame2-top">
      <div class="sto-purina-frame2-top-left"></div>
      <div class="sto-purina-frame2-top-right">
      <p class="sto-purina-top-text">
        Amoureux des chats, vous souhaitez que votre animal soit en bonne santé, heureux et actif pendant longtemps.<br/>
        L'une des meilleures manières pour y arriver est de s'assurer que le régime de votre chat contient le bon équilibre des cinq groupes principaux de nutriments : protéines, graisses et huiles, vitamines, minéraux et hydrates de carbone.<br/><br/>
        <span class="sto-purina-top-text-bold">
          Découvrez l'alimentation 100% complète qui correspond à ses besoins.
        </span>
      </p>
      </div>
    </div>
    <div class="sto-purina-frame2-bottom">
      <div class="sto-purina-frame2-nav-list clearfix">
        <div class="sto-purina-frame2-nav-item purina-nav-current" data-sec="1">Chats adultes<div class="nav-chats-arrow"></div></div>
        <div class="sto-purina-frame2-nav-item" data-sec="2">Chatons</div>
        <div class="sto-purina-frame2-nav-item" data-sec="3">Chats stérilisés</div>
        <div class="sto-purina-frame2-nav-item" data-sec="5">Besoins spécifiques</div>
        <div class="sto-purina-frame2-nav-item" data-sec="4">Chats d'intérieur</div>
        <div class="sto-purina-frame2-nav-item" data-sec="6">Friandises</div>
      </div>
      <div class="sto-purina-porducts-container-chat">
        <div class="sto-purina-frame2-arrow-left"></div>
        <div class="sto-purina-frame2-arrow-right"></div>
        <div class="sto-purina-frame2-nav-indicators">
            <div class="sto-purina-frame2-nav-indicators-item sto-purina-frame2-nav-indicators-current"></div>
            <div class="sto-purina-frame2-nav-indicators-item"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="sto-mbr-purina-frame3">
    <div class="sto-purina-frame3-top">
      <div class="sto-purina-frame3-top-left"></div>
      <div class="sto-purina-frame3-top-right">
        <p class="sto-purina-top-text">
          Pour que votre chien mène sa vie d'adulte en pleine santé, l'equilibre nutritionnel est essentiel.<br/>
          Ses besoins étant différents de ceux des humains, son alimentation doit combiner viande, céréales et légumes.<br/><br/>
          <span class="sto-purina-top-text-bold">
            Découvrez l'alimentation 100% complète qui correspond à ses besoins.
          </span>
        </p>
      </div>
    </div>
    <div class="sto-purina-frame3-bottom">
      <div class="sto-purina-frame3-nav-list clearfix">
        <div class="sto-purina-frame3-nav-item purina-nav-current" data-sec="1">Chiens adultes<div class="nav-chiens-arrow"></div></div>
        <div class="sto-purina-frame3-nav-item" data-sec="2">Chiots</div>
        <div class="sto-purina-frame3-nav-item" data-sec="3">Chiens<br/>7 ans et +</div>
        <div class="sto-purina-frame3-nav-item" data-sec="4">Chiens Petite Taille</div>
        <div class="sto-purina-frame3-nav-item" data-sec="5">Chiens<br/>Grande Taille</div>
        <div class="sto-purina-frame3-nav-item" data-sec="6">Friandises</div>
      </div>
      <div class="sto-purina-porducts-container-chien">
        <div class="sto-purina-frame3-arrow-left"></div>
        <div class="sto-purina-frame3-arrow-right"></div>
        <div class="sto-purina-frame3-nav-indicators">
            <div class="sto-purina-frame3-nav-indicators-item sto-purina-frame3-nav-indicators-current"></div>
            <div class="sto-purina-frame3-nav-indicators-item"></div>
        </div>
      </div>
    </div>
  </div>


</div>
