<div id="sto-mbr-tg-hydratation" class="clearfix">

    <div class="sto-mbr-hydratation-frame1"></div>
    <div class="sto-mbr-hydratation-waterbrands">
        <div class="sto-mbr-waterbrands-decou"></div>
    </div>
    <div class="sto-mbr-hydratation-wrapper clearfix">
        <div class="sto-mbr-hydratation-frame2 clearfix">
            <div class="sto-hydratation-frame2-bottom">
                <div class="sto-hydratation-frame2-left"></div>
                <div class="sto-hydratation-frame2-right"></div>
                <div class="sto-hydratation-frame2-noprod">Produit temporairement indisponible.</div>
                <div class="sto-hydratation-frame2-nav">
                    <div class="sto-hydratation-frame2-nav-item sto-hydratation-frame2-nav-current"></div>
                    <div class="sto-hydratation-frame2-nav-item"></div>
                    <!-- <div class="sto-hydratation-frame2-nav-item"></div> -->
                </div>
                <div class="sto-hydratation-eau_plate-carrousel"></div>
            </div>
        </div>
        <div class="sto-mbr-hydratation-frame3">
            <div class="sto-hydratation-frame3-bottom">
                <div class="sto-hydratation-frame3-left"></div>
                <div class="sto-hydratation-frame3-right"></div>
                <div class="sto-hydratation-frame3-noprod">Produit temporairement indisponible.</div>
                <div class="sto-hydratation-frame3-nav">
                    <div class="sto-hydratation-frame3-nav-item sto-hydratation-frame3-nav-current"></div>
                    <div class="sto-hydratation-frame3-nav-item"></div>
                </div>
                <div class="sto-hydratation-eau_gazeuse-carrousel"></div>
            </div>
        </div>
    </div>
    <div class="sto-mbr-hydratation-frame4"></div>
    <div class="sto-mbr-hydratation-asterisk">
        <p><sup>*</sup>Crédoc. CCAF 2013.</p>
        <p><sup>**</sup>Crédoc. CCAF 2013. Part des adultes n'atteignant pas leur Besoin Nutritionnel Moyen en calcium ou les apports satisfaisants en magnésium.</p>
        <p><sup>***</sup>Pour un mode de vie sain, mangez équilibré et varié et consommez 2L d'eau par jour, toutes sources confondues, pour contribuer au maintien d'une fonction physique et d'une fonction cognitive normales.</p>
    </div>


</div>
