<div id="sto-mbr-tg-recettes">

      <h2 class="sto-mbr-tg-recettes-title">Vos recettes préférées en image ou en vidéo</h2>
      <ul class="sto-mbr-recettes-list clearfix">
          <li data-name="mojito" class="sto-recettes-list-item recette-list-mojito">
              <div class="sto-recettes-list-title">Mojito</div>
              <div class="sto-recettes-list-spec">
                <div Class="sto-recettes-spec-ico-01">5 min</div>
                <div Class="sto-recettes-spec-ico-02">0 min</div>
                <div Class="sto-recettes-spec-ico-03">1 per</div>
              </div>
              <div class="sto-recettes-list-cta"></div>
          </li>
          <li data-name="tiramisu" class="sto-recettes-list-item recette-list-tiramisu">
              <div class="sto-recettes-list-title">Tiramisu</div>
              <div class="sto-recettes-list-spec">
                <div Class="sto-recettes-spec-ico-01">15 min</div>
                <div Class="sto-recettes-spec-ico-02">0 min</div>
                <div Class="sto-recettes-spec-ico-03">8 pers</div>
              </div>
              <div class="sto-recettes-list-cta"></div>
          </li>
          <li data-name="gratin" class="sto-recettes-list-item recette-list-gratin">
              <div class="sto-recettes-list-title">Gratin Dauphinois</div>
              <div class="sto-recettes-list-spec">
                <div Class="sto-recettes-spec-ico-01">20 min</div>
                <div Class="sto-recettes-spec-ico-02">50 min</div>
                <div Class="sto-recettes-spec-ico-03">6 pers</div>
              </div>
              <div class="sto-recettes-list-cta"></div>
          </li>
          <li data-name="charlotte" class="sto-recettes-list-item recette-list-charlotte">
              <div class="sto-recettes-list-title">Charlotte poires chocolat</div>
              <div class="sto-recettes-list-spec">
                <div Class="sto-recettes-spec-ico-01">5 min</div>
                <div Class="sto-recettes-spec-ico-02">0 min</div>
                <div Class="sto-recettes-spec-ico-03">1 per</div>
              </div>
              <div class="sto-recettes-list-cta"></div>
          </li>
          <li data-name="fondant" class="sto-recettes-list-item recette-list-fondant">
              <div class="sto-recettes-list-title">Fondant au chocolat</div>
              <div class="sto-recettes-list-spec">
                <div Class="sto-recettes-spec-ico-01">10 min</div>
                <div Class="sto-recettes-spec-ico-02">25 min</div>
                <div Class="sto-recettes-spec-ico-03">10 pers</div>
              </div>
              <div class="sto-recettes-list-cta"></div>
          </li>
          <li data-name="mille" class="sto-recettes-list-item recette-list-millefeuilles">
              <div class="sto-recettes-list-title">Mille feuille</div>
              <div class="sto-recettes-list-spec">
                <div Class="sto-recettes-spec-ico-01">15 min</div>
                <div Class="sto-recettes-spec-ico-02">2 min</div>
                <div Class="sto-recettes-spec-ico-03">4 pers</div>
              </div>
              <div class="sto-recettes-list-cta"></div>
          </li>
          <li data-name="quiche"  class="sto-recettes-list-item recette-list-quiche">
              <div class="sto-recettes-list-title">Quiche Lorraine</div>
              <div class="sto-recettes-list-spec">
                <div Class="sto-recettes-spec-ico-01">10 min</div>
                <div Class="sto-recettes-spec-ico-02">30 min</div>
                <div Class="sto-recettes-spec-ico-03">8 pers</div>
              </div>
              <div class="sto-recettes-list-cta"></div>
          </li>
          <li data-name="blanquette" class="sto-recettes-list-item recette-list-blanquette">
              <div class="sto-recettes-list-title">Blanquette de veau</div>
              <div class="sto-recettes-list-spec">
                <div Class="sto-recettes-spec-ico-01">15 min</div>
                <div Class="sto-recettes-spec-ico-02">40 min</div>
                <div Class="sto-recettes-spec-ico-03">6 pers</div>
              </div>
              <div class="sto-recettes-list-cta"></div>
          </li>
      </ul>

      <p class="sto-mbr-recettes-bonapp">Bon appétit !</p>
      <div class="sto-mbr-recettes-nestle"></div>

  </div>
