<div id="sto-mbr-tg-ficherecette-etapes" class="clearfix">
      <div class="sto-fiche-recette-gauche">
          <div class="sto-fiche-recette-title">
              <div class="sto-fiche-recette-title-img"></div>
              <div class="sto-fiche-recette-title-nom"></div>
          </div>
          <div class="sto-fiche-recette-jajoute">
              <div class="sto-jajoute-title">J'ajoute mes ingrédients au panier</div>
              <div class="sto-jajoute-store-container">
                  <ul class="sto-jajoute-store-list">
                      <!--<li class="sto-jajoute-store-list-item ">
                          <ul class="sto-jajoute-prods-list"></ul>
                      </li>-->
                  </ul>
              </div>
          </div>
      </div>
      <div class="sto-fiche-recete-droite">
          <div class="sto-fiche-recette-visuel">
            <div class="sto-fiche-recette-visuel-specs">
            </div>
          </div>
          <div class="sto-fiche-recette-content sto-recette-etape">
              <p class="sto-recette-content-title"></p>
              <div class="sto-recette-content-etapes clearfix"></div>
              <div class="sto-recette-ingredients">
                  <p class="sto-recette-ingredients-title">Ma liste d'ingrédients :</p>
                  <div class="sto-recette-ingredients-container">
                    <ul class="sto-recette-ingredients-list clearfix">
                    </ul>
                  </div>
              </div>
              <div class="sto-recette-footer">
                <div class="sto-recette-footer-item recette-footer-voir"></div>
                <div class="sto-recette-footer-item recette-footer-imprimer"><a class="recette-footer-imprimer-link" href="#" target="_blank"></a></div>
                <div class="sto-recette-footer-item recette-footer-envoyer"><a class="recette-footer-envoyer-link" href="#"></a></div>
              </div>
          </div>
      </div>
  </div>
