<div id="sto-mbr-tg-recettes">
    <h2 class="sto-mbr-tg-recettes-title">Vos recettes préférées en image ou en vidéo</h2>
    <ul class="sto-mbr-recettes-list clearfix">
        <li data-name="muffin" class="sto-recettes-list-item recette-list-muffin">
            <div class="sto-recettes-list-title">Muffin viennois</div>
            <div class="sto-recettes-list-spec">
                <div Class="sto-recettes-spec-ico-01">1h30</div>
                <div Class="sto-recettes-spec-ico-02">17 min</div>
                <div Class="sto-recettes-spec-ico-03">12 pers</div>
            </div>
            <div class="sto-recettes-list-cta"></div>
        </li>
        <li data-name="mille" class="sto-recettes-list-item recette-list-millefeuilles">
            <div class="sto-recettes-list-title">Mille feuille</div>
            <div class="sto-recettes-list-spec">
                <div Class="sto-recettes-spec-ico-01">15 min</div>
                <div Class="sto-recettes-spec-ico-02">2 min</div>
                <div Class="sto-recettes-spec-ico-03">4 pers</div>
            </div>
            <div class="sto-recettes-list-cta"></div>
        </li>
        <li data-name="charlotte" class="sto-recettes-list-item recette-list-charlotte">
            <div class="sto-recettes-list-title">Charlotte poires chocolat</div>
            <div class="sto-recettes-list-spec">
                <div Class="sto-recettes-spec-ico-01">5 min</div>
                <div Class="sto-recettes-spec-ico-02">0 min</div>
                <div Class="sto-recettes-spec-ico-03">1 per</div>
            </div>
            <div class="sto-recettes-list-cta"></div>
        </li>
        <li data-name="fougasse" class="sto-recettes-list-item recette-list-fougasse">
            <div class="sto-recettes-list-title">Fougasse aux olives</div>
            <div class="sto-recettes-list-spec">
                <div Class="sto-recettes-spec-ico-01">15 min</div>
                <div Class="sto-recettes-spec-ico-02">16 min</div>
                <div Class="sto-recettes-spec-ico-03">4 per</div>
            </div>
            <div class="sto-recettes-list-cta"></div>
        </li>
        <li data-name="buitoni" class="sto-recettes-list-item recette-list-buitoni">
            <div class="sto-recettes-list-title">My FRAICH'UP® Rolls</div>
            <div class="sto-recettes-list-spec">
                <div Class="sto-recettes-spec-ico-01">10 min</div>
                <div Class="sto-recettes-spec-ico-02">12 min</div>
                <div Class="sto-recettes-spec-ico-03">4 pers</div>
            </div>
            <div class="sto-recettes-list-cta"></div>
        </li>
        <li data-name="maggi" class="sto-recettes-list-item recette-list-maggi">
            <div class="sto-recettes-list-title">Sauté de poulet</div>
            <div class="sto-recettes-list-spec">
                <div Class="sto-recettes-spec-ico-01">10 min</div>
                <div Class="sto-recettes-spec-ico-02">13 min</div>
                <div Class="sto-recettes-spec-ico-03">4 pers</div>
            </div>
            <div class="sto-recettes-list-cta"></div>
        </li>
    </ul>

    <p class="sto-mbr-recettes-bonapp">Bon appétit !</p>
    <div class="sto-mbr-recettes-nestle"></div>

</div>
