<div id="sto-mbr-tg-equilibre" class="clearfix">

    <div class="sto-equilibre-astuces">
      <div class="sto-equilibre-astuces-title"></div>
      <div class="sto-equilibre-astuces-container">
        <div class="sto-astuces-left"></div>
        <div class="sto-astuces-right"></div>
        <ul class="sto-astuces-nav">
          <li class="sto-astuce-dot sto-astuce-dot-current" data-item="1"></li>
          <li class="sto-astuce-dot" data-item="2"></li>
          <li class="sto-astuce-dot" data-item="3"></li>
        </ul>
        <div class="sto-equilibre-astuces-carrousel">
          <div class="sto-equilibre-astuces-carrousel-item" id="1" data-item="1"></div>
          <div class="sto-equilibre-astuces-carrousel-item" id="2" data-item="2"></div>
          <div class="sto-equilibre-astuces-carrousel-item" id="3" data-item="3"></div>
        </div>
      </div>
    </div>

    <div class="sto-equilibre-pyramid">
      <div class="sto-equilibre-pyramid-7">
        <div class="sto-equilibre-pyramid-7-hover"></div>
      </div>
      <div class="sto-equilibre-pyramid-6">
        <div class="sto-equilibre-pyramid-6-hover"></div>
      </div>
      <div class="sto-equilibre-pyramid-5">
        <div class="sto-equilibre-pyramid-5-hover"></div>
      </div>
      <div class="sto-equilibre-pyramid-4">
        <div class="sto-equilibre-pyramid-4-hover"></div>
      </div>
      <div class="sto-equilibre-pyramid-3">
        <div class="sto-equilibre-pyramid-3-hover"></div>
      </div>
      <div class="sto-equilibre-pyramid-2">
        <div class="sto-equilibre-pyramid-2-hover"></div>
      </div>
      <div class="sto-equilibre-pyramid-1">
        <div class="sto-equilibre-pyramid-1-hover"></div>
      </div>
    </div>


  </div>
