/**********************         HOME          **************************/
html {
  overflow-y: hidden;
}

#sto-mbr-tg-global .avantages {
    display: none;
}
#sto-mbr-tg-recettes {
    background-color: #fff;
    box-shadow: 0px 4px 8px 1px #ccc;
}
.sto-mbr-tg-recettes-title {
    font-family: "Tartine Script", arial, sans-serif;
    text-align: center;
    color: rgb(38, 147, 195);
    padding: 15px 0;
}
.sto-mbr-recettes-list {
    width: 750px;
    margin: 0 auto;
}
.sto-recettes-list-item {
    width: 165px;
    background-color: #fff;
    float: left;
    margin: 0 0 20px 20px;
    background-repeat: no-repeat;
    background-position: center top 1px;
    border-radius: 5px;
    font-family: "Tartine Script", arial, sans-serif;
    text-align: center;
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: all 0.1s ease-in;
    z-index: 1;
    cursor: pointer;
}
.sto-recettes-list-item:hover {
    /*-moz-transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);*/
}
.sto-fiche-recette-visuel-specs {
    background-image: url('./img/pictos_apercu.png');
    background-position: left center;
    background-repeat: no-repeat;
    width: 150px;
    margin-left: 10px;
    height: 88px;
    position: relative;
    font-family: "Tartine Script", arial, sans-serif;
    font-size: 10px;
    color: #fff;
}
.sto-fiche-recette-visuel-specs p {
    position: absolute;
    left: 46px;
}
.sto-recette-visual-spec-01 {
    top: 16px;
}
.sto-recette-visual-spec-02 {
    top: 37px;
}
.sto-recette-visual-spec-03 {
    top: 60px;
}
.recette-list-mojito {
    background-image: url('./img/mojito.png');
}
.recette-list-tiramisu {
    background-image: url('./img/tiramisu.png');
}
.recette-list-gratin {
    background-image: url('./img/gratin.png');
}
.recette-list-charlotte {
    background-image: url('./img/charlotte.png');
}
.recette-list-fondant {
    background-image: url('./img/fondant.png');
}
.recette-list-millefeuilles {
    background-image: url('./img/millefeuilles.png');
}
.recette-list-quiche {
    background-image: url('./img/quiche.png');
}
.recette-list-blanquette {
    background-image: url('./img/blanquette.png');
}
.visuel_mojito {
    background-image: url('./img/visuel_mojito.jpg');
}
.visuel_tiramisu {
    background-image: url('./img/visuel_tiramisu.jpg');
}
.visuel_gratin {
    background-image: url('./img/visuel_gratin.png');
}
.visuel_charlotte {
    background-image: url('./img/visuel_charlotte.jpg');
}
.visuel_fondant {
    background-image: url('./img/visuel_fondant.jpg');
}
.visuel_mille {
    background-image: url('./img/visuel_millefeuilles.jpg');
}
.visuel_quiche {
    background-image: url('./img/visuel_quiche.png');
}
.visuel_blanquette {
    background-image: url('./img/visuel_blanquette.jpg');
}
.sto-recettes-list-title {
    padding: 185px 0 1px 0;
    color: rgb(38, 147, 195);
    font-size: 15px;
    width: 95%;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
}
.sto-recettes-list-spec {
    height: 35px;
    margin-bottom: 7px;
    padding-left: 3px;
    font-size: 10px;
    color: #ccc;
    background-image: url('./img/home_info_recette.png');
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}
.sto-recettes-list-spec>div {
    position: absolute;
    top: 8px;
}
.sto-recettes-spec-ico-01 {
    left: 27px;
}
.sto-recettes-spec-ico-02 {
    left: 75px;
}
.sto-recettes-spec-ico-03 {
    left: 132px;
}
.sto-recettes-list-cta {
    width: 122px;
    height: 28px;
    background-image: url('./img/cta.png');
    position: absolute;
    bottom: -14px;
    left: 22px;
    cursor: pointer;
}
.sto-recettes-list-cta:hover, .sto-recettes-list-item:hover .sto-recettes-list-cta {
    background-image: url('./img/cta_hover.png');
}
.sto-mbr-recettes-bonapp {
    font-family: "Tartine Script", arial, sans-serif;
    font-size: 18px;
    color: #666;
    text-align: center;
    padding: 12px 0px;
}
.sto-mbr-recettes-nestle {
    z-index: 0;
    width: 146px;
    height: 125px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url('./img/peel.png');
}

/**********************         Recette Etapes        **************************/

#sto-mbr-tg-ficherecette-etapes {
    background-color: #fff;
    padding: 40px 5px 30px 20px;
    box-shadow: 0px 4px 8px 1px #ccc;
}
.sto-fiche-recette-gauche {
    width: 340px;
    float: left;
}
.sto-fiche-recette-title {
    margin: 0 auto;
    margin-bottom: 24px;
    width: 250px;
    height: 83px;
    background-position: center;
    background-repeat: no-repeat;
}
.recette-title_mojito {
    background-image: url('./img/title_recette_8.png');
}
.recette-title_tiramisu {
    background-image: url('./img/title_recette_2.png');
}
.recette-title_gratin {
    background-image: url('./img/title_recette_4.png');
}
.recette-title_charlotte {
    background-image: url('./img/title_recette_3.png');
}
.recette-title_fondant {
    background-image: url('./img/title_recette_1.png');
}
.recette-title_mille {
    background-image: url('./img/title_recette_6.png');
}
.recette-title_quiche {
    background-image: url('./img/title_recette_5.png');
}
.recette-title_blanquette {
    background-image: url('./img/title_recette_7.png');
}

/******* jajoute section *********/

.sto-fiche-recette-jajoute {
    padding-top: 37px;
    width: 324px;
    height: 402px;
    background-image: url('./img/ajout_ingredient_salees.png');
}
.sto-jajoute-store-container {
    height: 393px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.sto-jajoute-store-list {
    width: 300px;
    margin-left: 5px;
}
.sto-jajoute-store-list-item {}
.sto-jajoute-store-list-item p {
    cursor: pointer;
    font-family: "Tartine Script", arial, sans-serif;
    text-align: left;
    color: rgb(38, 147, 195);
    border-bottom: 1px solid rgb(38, 147, 195);
    height: 40px;
    position: relative;
    line-height: 40px;
    padding-left: 10px;
    background: #feffff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #feffff 36%, #f4f4f4 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #feffff 36%, #f4f4f4 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #feffff 36%, #f4f4f4 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#f4f4f4', GradientType=0);
    /* IE6-9 */
}
.sto-jajoute-store-list-item p::after {
    margin-top: 5px;
    width: 6px;
    height: 6px;
    border-right: 2px solid #95d3dc;
    border-bottom: 2px solid #95d3dc;
    position: absolute;
    right: 11px;
    content: " ";
    top: 10px;
    transform: rotate(-45deg);
}
.sto-jajoute-store-list-item p.sto-ingredients-open::after {
    transform: rotate(45deg);
}
.sto-jajoute-prods-list {
    margin-left: 15px;
}
.sto-jajoute-prods-list {
    display: none;
}
.sto-jajoute-prods-list-item {
    width: 270px;
    height: 85px;
    position: relative;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
.sto-mess-no-por {
    font-family: serif;
    font-size: 12px;
    text-align: center;
    padding: 10px 0px;
    color: rgb(38, 147, 195);
}
.sto-jajoute-prod-label a {
    color: #999;
    text-transform: uppercase;
    font-family: arial, sans-serif;
    font-size: 10px;
    position: absolute;
    left: 70px;
    top: 8px;
    width: 114px;
    z-index: 2;
    text-decoration: none;
}
.sto-jajoute-prod-img {
    height: 60px;
    width: auto;
    position: absolute;
    top: 10px;
    z-index: 1;
}
.sto-jajoute-prod-prix {
    position: absolute;
    right: 0px;
    top: 5px;
    font-family: arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: rgb(38, 147, 195);
}
.sto-jajoute-prod-prixsmall {
    position: absolute;
    right: 0px;
    top: 32px;
    font-family: arial, sans-serif;
    font-size: 8.6px;
    color: #999;
}
.sto-jajoute-prod-cta {
    position: absolute;
    bottom: 15px;
    right: 0;
    width: 80px;
    height: 21px;
    background-image: url('./img/cta_add_card.png');
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}
.sto-jajoute-prod-cta:hover {
    background-size: 92%;
}

/****** Fiche Produit Droite ******/

.sto-fiche-recete-droite {
    width: 630px;
    float: right;
}
.sto-fiche-recette-visuel {
    width: 630px;
    height: 89px;
    background-color: lightgray;
    border-bottom: 2px solid rgb(38, 147, 195);
    margin-bottom: 20px;
}
.sto-fiche-recette-content {}
.sto-recette-content-title {
    font-family: "Tartine Script", arial, sans-serif;
    text-align: left;
    color: #b9c432;
    font-size: 24px;
    line-height: 0.9;
    border-bottom: 2px solid #b9c432;
    margin-bottom: 10px;
}
.sto-etape-subtitle {
    color: rgb(38, 147, 195);
    font-family: "Lato", arial, sans-serif;
    margin-top: 20px;
    font-size: 14px;
    font-style: italic;
}
.sto-etape-text {
    color: #999;
    font-family: "Lato", arial, sans-serif;
    margin-top: 7px;
    font-size: 14px;
    font-style: italic;
    padding-right: 20px;
}
.sto-recette-ingredients {
    margin-top: 30px;
}
.sto-recette-ingredients-title {
    color: rgb(38, 147, 195);
    font-size: 12px;
    font-family: "Bree Serif", serif;
    border-bottom: 1px solid rgb(38, 147, 195);
}
.sto-recette-ingredients-item {
    color: #999;
    font-size: 12px;
    font-family: arial, sans-serif;
    background-image: url("./img/picto_check.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 15px;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    width: 185px;
}
.sto-recette-ingredients-item::before {
    content: "";
    border-bottom: 1px solid;
}
.sto-recette-ingredients-quant {}
.sto-recette-footer {
    height: 47px;
    width: 640px;
    position: relative;
    left: -3px;
    margin-top: 10px;
    background-image: url("./img/boutons_recette.png");
    background-repeat: no-repeat;
    background-position: left center;
}
.sto-recette-footer-item {
    float: left;
    height: 47px;
    text-transform: uppercase;
    color: #999;
    font-family: arial, sans-serif;
    font-size: 14px;
}
.recette-footer-voir {
    width: 243px;
    cursor: pointer;
}
.recette-footer-imprimer {
    width: 200px;
    cursor: pointer;
}
.recette-footer-imprimer a, .recette-footer-envoyer a {
    display: block;
    width: 100%;
    height: 100%;
}
.recette-footer-envoyer {
    width: 184px;
    cursor: pointer;
}

/**************** FICHE PROD VIDEO  *****************/

.sto-recette-video {
    height: 296px;
    width: 528px;
    background-color: #000;
    float: left;
}
.sto-recette-icons {
    height: 286px;
    width: 80px;
    float: right;
    padding-top: 11px;
    background-image: url("./img/timeline_bg.png"), url("./img/timeline_start.png");
    background-position: left 22px center, left 25px top;
    background-repeat: no-repeat, no-repeat;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-left: 9px;
}
.video-prod-ico {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-top: 6px;
    background-position: center center;
    background-repeat: no-repeat;
}
.video-prod-ico[data-ico="cacao.png"] {
    background-image: url("./img/icons/cacao.png");
}
.video-prod-ico[data-ico="cafe.png"] {
    background-image: url("./img/icons/cafe.png");
}
.video-prod-ico[data-ico="chocolat.png"] {
    background-image: url("./img/icons/chocolat.png");
}
.video-prod-ico[data-ico="mascarpone.png"] {
    background-image: url("./img/icons/mascarpone.png");
}
.video-prod-ico[data-ico="biscuit.png"] {
    background-image: url("./img/icons/biscuit.png");
}
.video-prod-ico[data-ico="sucre.png"] {
    background-image: url("./img/icons/sucre.png");
}
.video-prod-ico[data-ico="oeufs.png"] {
    background-image: url("./img/icons/oeufs.png");
}
.video-prod-ico[data-ico="beurre.png"] {
    background-image: url("./img/icons/beurre.png");
}
.video-prod-ico[data-ico="carrote.png"] {
    background-image: url("./img/icons/carrote.png");
}
.video-prod-ico[data-ico="champignons.png"] {
    background-image: url("./img/icons/champignons.png");
}
.video-prod-ico[data-ico="clous.png"] {
    background-image: url("./img/icons/clous.png");
}
.video-prod-ico[data-ico="creme.png"] {
    background-image: url("./img/icons/creme.png");
}
.video-prod-ico[data-ico="cubes.png"] {
    background-image: url("./img/icons/cubes.png");
}
.video-prod-ico[data-ico="farine.png"] {
    background-image: url("./img/icons/farine.png");
}
.video-prod-ico[data-ico="framboises.png"] {
    background-image: url("./img/icons/framboises.png");
}
.video-prod-ico[data-ico="glace.png"] {
    background-image: url("./img/icons/glace.png");
}
.video-prod-ico[data-ico="lait.png"] {
    background-image: url("./img/icons/lait.png");
}
.video-prod-ico[data-ico="lardon.png"] {
    background-image: url("./img/icons/lardon.png");
}
.video-prod-ico[data-ico="laurier.png"] {
    background-image: url("./img/icons/laurier.png");
}
.video-prod-ico[data-ico="oignons.png"] {
    background-image: url("./img/icons/oignons.png");
}
.video-prod-ico[data-ico="pate.png"] {
    background-image: url("./img/icons/pate.png");
}
.video-prod-ico[data-ico="poireaux.png"] {
    background-image: url("./img/icons/poireaux.png");
}
.video-prod-ico[data-ico="poires.png"] {
    background-image: url("./img/icons/poires.png");
}
.video-prod-ico[data-ico="poivre.png"] {
    background-image: url("./img/icons/poivre.png");
}
.video-prod-ico[data-ico="pommedeterre.png"] {
    background-image: url("./img/icons/pommedeterre.png");
}
.video-prod-ico[data-ico="ptit.png"] {
    background-image: url("./img/icons/ptit.png");
}
.video-prod-ico[data-ico="sesame.png"] {
    background-image: url("./img/icons/sesame.png");
}
.video-prod-ico[data-ico="thym.png"] {
    background-image: url("./img/icons/thym.png");
}
.video-prod-ico[data-ico="viande.png"] {
    background-image: url("./img/icons/viande.png");
}
.video-prod-ico[data-ico="vin.png"] {
    background-image: url("./img/icons/vin.png");
}
.sto-jajoute-prod-cta .actions {
    display: none;
}
.recette-video-iframe {
    width: 100%;
    height: 100%;
}

/*******************      Equilibre            **************************/

#sto-mbr-tg-equilibre {
    width: 1000px;
    height: 587px;
    background-image: url("./img/pyramide_bg_carre.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    box-shadow: 0px 4px 8px 1px #ccc;
    border-radius: 0 0 50px 50px;
}
.sto-equilibre-pyramid {
    width: 844px;
    height: 441px;
    position: absolute;
    bottom: 45px;
    right: 0;
}
.sto-equilibre-pyramid-1, .sto-equilibre-pyramid-2, .sto-equilibre-pyramid-3, .sto-equilibre-pyramid-4, .sto-equilibre-pyramid-5, .sto-equilibre-pyramid-6, .sto-equilibre-pyramid-7 {
    height: 63px;
    margin: 0 auto;
    position: relative;
    overflow: visible;
}
.sto-equilibre-pyramid-1 {
    width: 487px;
}
.sto-equilibre-pyramid-2 {
    width: 429px;
}
.sto-equilibre-pyramid-3 {
    width: 379px;
}
.sto-equilibre-pyramid-4 {
    width: 300px;
}
.sto-equilibre-pyramid-5 {
    width: 249px;
}
.sto-equilibre-pyramid-6 {
    width: 205px;
}
.sto-equilibre-pyramid-7 {
    width: 146px;
}
.sto-equilibre-pyramid-1-hover, .sto-equilibre-pyramid-2-hover, .sto-equilibre-pyramid-3-hover, .sto-equilibre-pyramid-4-hover, .sto-equilibre-pyramid-5-hover, .sto-equilibre-pyramid-6-hover, .sto-equilibre-pyramid-7-hover {
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -ms-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
}
.sto-equilibre-pyramid>div:hover>div {
    opacity: 1;
}
.sto-equilibre-pyramid-1-hover {
    background-image: url("./img/pyramide_1.png");
    width: 165px;
    height: 107px;
    left: -196px;
    top: -75px;
}
.sto-equilibre-pyramid-2-hover {
    background-image: url("./img/pyramide_2.png");
    width: 155px;
    height: 203px;
    right: -173px;
    top: -182px;
}
.sto-equilibre-pyramid-3-hover {
    background-image: url("./img/pyramide_3.png");
    width: 262px;
    height: 110px;
    left: -284px;
    top: 13px;
}
.sto-equilibre-pyramid-4-hover {
    background-image: url("./img/pyramide_4.png");
    width: 159px;
    height: 130px;
    right: -199px;
    top: -102px;
}
.sto-equilibre-pyramid-5-hover {
    background-image: url("./img/pyramide_5.png");
    width: 177px;
    height: 91px;
    left: -210px;
    top: 29px;
}
.sto-equilibre-pyramid-6-hover {
    background-image: url("./img/pyramide_6.png");
    width: 236px;
    height: 53px;
    right: -272px;
    bottom: -7px;
}
.sto-equilibre-pyramid-7-hover {
    background-image: url("./img/pyramide_7.png");
    width: 235px;
    height: 66px;
    right: -276px;
    bottom: -43px;
}

/************************* Astuces Carrousel*************************/

.sto-equilibre-astuces {
    width: 312px;
    height: 350px;
}
.sto-equilibre-astuces-title {
    background-image: url("./img/quelques_astuces.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 199px;
    height: 54px;
    position: relative;
    top: 30px;
    left: 7px;
    margin: 0 auto
}
.sto-equilibre-astuces-container {
    position: relative;
    width: 255px;
    height: 140px;
    padding-top: 46px;
    margin: 0 auto;
    z-index: 9;
}
.sto-astuces-left {
    background-image: url("./img/arrow_equilibre_left.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 15px;
    height: 25px;
    position: absolute;
    left: 0;
    bottom: 60px;
    z-index: 9;
    cursor: pointer;
}
.sto-astuces-right {
    background-image: url("./img/arrow_equilibre_right.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 15px;
    height: 25px;
    position: absolute;
    right: 0;
    bottom: 60px;
    z-index: 9;
    cursor: pointer;
}
.sto-astuces-nav {
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -35px;
}
.sto-astuce-dot {
    width: 15px;
    height: 15px;
    background-image: url("./img/puce_equilibre.png");
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    margin-right: 8px;
    z-index: 11;
    cursor: pointer;
}
.sto-astuce-dot.sto-astuce-dot-current {
    background-image: url("./img/puce_equilibre_active.png");
}
.sto-equilibre-astuces-carrousel {
    width: 240px;
    height: 131px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.sto-equilibre-astuces-carrousel-item[data-item="1"] {
    background-image: url("./img/astuce_1.png");
    background-position: center center;
    background-repeat: no-repeat;
    width: 240px;
    height: 133px;
    position: absolute;
    top: 0;
    left: 0;
}
.sto-equilibre-astuces-carrousel-item[data-item="2"] {
    position: relative;
    background-image: url("./img/astuce_2.png");
    background-position: center center;
    background-repeat: no-repeat;
    width: 240px;
    height: 133px;
    position: absolute;
    top: 0;
    left: 240px
}
.sto-equilibre-astuces-carrousel-item[data-item="3"] {
    background-image: url("./img/astuce_3.png");
    background-position: center center;
    background-repeat: no-repeat;
    width: 240px;
    height: 133px;
    position: absolute;
    top: 0;
    left: -240px;
}

/*********     TG  CEREALES     **************/

#sto-mbr-tg-cereales {
    box-shadow: 0px 4px 8px 1px #ccc;
    padding-top: 20px;
    background-color: #fff;
}
.sto-mbr-cereales-frame1 {
    background-image: url("./img/cereales-frame1-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    width: 1000px;
    height: 304px;
    position: relative;
}
.sto-cereales-frame1-decou-paquets {
    background-image: url("./img/bloc_paquets.png");
    background-position: center center;
    background-repeat: no-repeat;
    width: 163px;
    height: 100px;
    position: absolute;
    left: 30px;
    top: 122px;
    cursor: pointer;
}
.sto-cereales-frame1-decou-paquets:hover {
    background-image: url("./img/bloc_paquets_hover.png");
}
.sto-cereales-frame1-decou-barres {
    background-image: url("./img/bloc_barres.png");
    background-position: center center;
    background-repeat: no-repeat;
    width: 163px;
    height: 100px;
    position: absolute;
    right: 389px;
    top: 81px;
    cursor: pointer;
}
.sto-cereales-frame1-decou-barres:hover {
    background-image: url("./img/bloc_barres_hover.png");
}
.sto-cereales-frame1-savoir {
    background-image: url("./img/en_savoir_plus.png");
    background-position: center center;
    background-repeat: no-repeat;
    width: 113px;
    height: 24px;
    position: absolute;
    right: 98px;
    bottom: 18px;
    cursor: pointer;
}
.sto-cereales-frame1-savoir:hover {
    background-image: url("./img/en_savoir_plus_hover.png");
}
.sto-mbr-cereales-frame2 {
    background-color: #fff;
    padding: 10px 20px 15px 20px;
}
.sto-cereales-frame2-top {
    height: 158px;
}
.sto-cereales-frame2-top-left {
    width: 429px;
    height: 158px;
    background-image: url("./img/frame-2-main-img.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
}
.sto-cereales-frame2-top-right {
    width: 522px;
    height: 158px;
    background-image: url("./img/frame-2-prod-img-new.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    float: right;
}
.sto-cereales-frame2-bottom {
    height: 365px;
    box-shadow: 0px 0px 4px 1px #ccc;
    margin-top: 25px;
    position: relative;
}
.sto-cereales-frame2-left,
.sto-cereales-frame2-right,
.sto-cereales-frame3-left,
.sto-cereales-frame3-right {
    background-position: center;
    background-repeat: no-repeat;
    width: 9px;
    height: 25px;
    position: absolute;
    cursor: pointer;
    top: 145px;
    z-index: 3;
    padding: 20px;
}
.sto-cereales-frame2-left:hover,
.sto-cereales-frame2-right:hover,
.sto-cereales-frame3-left:hover,
.sto-cereales-frame3-right:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.sto-cereales-frame2-left,
.sto-cereales-frame3-left {
    background-image: url("./img/arrow-left.png");
    left: -7px;
}
.sto-cereales-frame2-nav,
.sto-cereales-frame3-nav{
    position: absolute;
    bottom: 13px;
    left: 48.5%;
    z-index: 999;
}
.sto-cereales-frame2-nav-item,
.sto-cereales-frame3-nav-item{
    width: 10px;
    height: 10px;
    background-color: #999;
    border-radius: 5px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
}
.sto-cereales-frame2-right,
.sto-cereales-frame3-right {
    background-image: url("./img/arrow-right.png");
    right: -7px;
}
.sto-cereales-frame2-nav-current,
.sto-cereales-frame3-nav-current{
    background-color: #000;
}
.sto-cereales-frame2-noprod,
.sto-cereales-frame3-noprod {
    position: absolute;
    font-family: "Tartine Script", arial, sans-serif;
    font-size: 26px;
    color: #008E00;
    z-index: 999;
    left: 284px;
    top: 149px;
}
.sto-cereales-paquets-carrousel, .sto-cereales-barres-carrousel {
    height: 365px;
    margin: 0 auto;
    width: 900px;
    position: relative;
    overflow: hidden;
}
.sto-cereales-products-paquets .item,
.sto-cereales-products-barres .item {
    float: left;
}
.sto-cereales-products-paquets,
.sto-cereales-products-barres {
    position: absolute;
    top: 30px;
}
#sto-mbr-tg-cereales .item {
    margin: 0px 27px;
    width: 170px;
}
#sto-mbr-tg-cereales .item .inner {
    position: relative;
}
#sto-mbr-tg-cereales .item div.picture {
    height: 140px;
    text-align: center;
}
#sto-mbr-tg-cereales .item div.picture ul{
    position: absolute;
    top:0;
    left:0;
}
#sto-mbr-tg-cereales .item .price {
    height: 40px;
    padding-top: 35px;
}
#sto-mbr-tg-cereales .item .price .info {
    float: left;
    font-family: arial, sans-serif;
    font-size: 11px;
    color: #a6a6a6;
    margin-top: 10px;
}
#sto-mbr-tg-cereales .item .price .ok {
    position: absolute;
    font-family: arial, sans-serif;
    font-size: 24px;
    right: 7px;
    margin-top: 11px;
    color: #e31e4a;
    font-weight: 700;
    letter-spacing: -1px;
}
#sto-mbr-tg-cereales .item .desc {
    height: 39px;
}
#sto-mbr-tg-cereales .item .desc p a {
    font-family: arial, sans-serif;
    font-size: 11px;
    text-decoration: none;
    font-weight: bold;
    color: #444;
}
#sto-mbr-tg-cereales .item div.note {
    position: relative;
    height: 15px;
    margin-bottom: 10px;
    display: none;
}
#sto-mbr-tg-cereales .item div.note span {
    position: absolute;
    top: 0;
    right: -13px;
    display: block;
    width: 117px;
    height: 19px;
    padding-left: 10px;
    background: url(./img/bg_incart.png) no-repeat;
    font-size: 11px;
    line-height: 15px;
    color: #fff;
}
#sto-mbr-tg-cereales .ribbon {
    position: absolute;
    top: 0;
    left: 0;
}
#sto-mbr-tg-cereales .prix-barre {
    position: absolute;
    text-decoration: line-through;
    right: 8px;
    top: 166px;
    font-family: arial, sans-serif;
    font-size: 10.5px;
    color: #a6a6a6;
    margin-top: 10px;
}
.sto-mbr-cereales-frame3 {
    background-color: #fff;
    padding: 10px 20px 15px 20px;
}
.sto-cereales-frame3-top {
    height: 158px;
}
.sto-cereales-frame3-top-left {
    width: 429px;
    height: 158px;
    background-image: url("./img/frame-3-main-img.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
}
.sto-cereales-frame3-top-right {
    width: 522px;
    height: 158px;
    background-image: url("./img/frame-3-prod-img-new.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    float: right;
}
.sto-cereales-frame3-bottom {
    height: 365px;
    box-shadow: 0px 0px 4px 1px #ccc;
    margin-top: 25px;
    position: relative;
}
.sto-mbr-cereales-frame4 {
    background-image: url("./img/cereales-frame4-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    width: 1000px;
    height: 469px;
}

/* AVANTAGES */

table.list td.action_big .avantages a {
    display: inline;
    width: auto;
    height: auto;
    text-indent: 0
}

table.list tr td div.avantages ul {
    display: none;
    position: absolute;
    text-align: left;
    min-height: 30px;
    max-width: 200px;
    z-index: 1000
}

table.list tr td div.avantages:hover ul {
    display: block
}

div.avantages p {
    display: block;
    line-height: 26px;
    padding: 0 10px 0 28px;
    color: #e31b48;
    font-weight: 700;
    cursor: pointer;
    background: #ffd000;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffbc00), to(#ffdc00));
    background: -moz-linear-gradient(top, #ffbc00, #ffdc00);
    ms-filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffbc00', endColorstr='#ffdc00')
}

div.avantages p span {
    display: block;
    background: url(http://www.coradrive.fr/fileadmin/design/img/arrow/bottom_red.png) right center no-repeat
}
div.avantages.open p span {
    background-image: url(http://www.coradrive.fr/fileadmin/design/img/arrow/top_red.gif)
}
div.avantages p img {
    position: absolute;
    top: -3px;
    left: -5px
}
div.avantages ul {
    padding: 8px 8px 4px;
    background: #ffd000;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffdc00), to(#ffdc00));
    background: -moz-linear-gradient(top, #ffdc00, #ffdc00);
    ms-filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffdc00', endColorstr='#ffdc00')
}
div.avantages ul.open{
    display: block!important;
}
div.avantages ul li {
    margin-bottom: 5px;
    font-size: 11px;
    color: #e31b48;
    list-style: disc inside
}
.item div.avantages {
    position: absolute;
    z-index: 1;
    color: #e31b48;
    font-size: 11px;
    top: 144px;
    width: 168px;
    font-family: "Arial",sans-serif;
}
.item div.avantages ul {
    display: none
}
.itemlist div.avantages{
    float: left;
    position: relative
}
.itemlist div.avantages {
    width: 220px;
    color: #e31b48;
    font-size: 11px;
    margin-left: 10px
}
.mea div.avantages {
    position: absolute;
    top: 60px;
    z-index: 1;
    width: 180px;
    color: #e31b48;
    font-size: 11px
}
.mea div.avantages ul {
    display: none
}
#container.large #mea2 .mea div.avantages{
    width: 277px
}
#product div.avantages {
    clear: right;
    float: right;
    position: relative;
    width: 425px;
    margin-bottom: 20px
}
#product div.avantages p {
    padding-top: 8px
}
#product div.avantages p img {
    position: absolute;
    top: -3px;
    left: -5px
}
#product div.avantages ul {
    padding-top: 15px
}
div.avantages a {
    text-decoration: underline
}
div.avantages a {
    color: #e31b48
}


/*********     TG  PETS    **************/

#sto-mbr-tg-purina {
    padding-top: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 8px 1px #ccc;
}
.sto-mbr-purina-frame1 {
    background-image: url("./img/pets-frame1-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    width: 1000px;
    height: 304px;
    position: relative;
}
.sto-purina-frame1-decou-chiens {
    background-image: url("./img/chien_normal.png");
    background-position: center center;
    background-repeat: no-repeat;
    width: 159px;
    height: 113px;
    position: absolute;
    left: 30px;
    top: 15px;
    cursor: pointer;
}
.sto-purina-frame1-decou-chiens:hover {
    background-image: url("./img/chien_hover.png");
}
.sto-purina-frame1-decou-chats {
    background-image: url("./img/chat_normal.png");
    background-position: center center;
    background-repeat: no-repeat;
    width: 158px;
    height: 97px;
    position: absolute;
    right: 459px;
    top: 146px;
    cursor: pointer;
}
.sto-purina-frame1-decou-chats:hover {
    background-image: url("./img/chat_hover.png");
}
.sto-mbr-purina-frame2 {
    background-color: #fff;
    padding: 10px 20px 15px 20px;
}
.sto-purina-frame2-top {
    height: 158px;
}
.sto-purina-frame2-top-left {
    width: 429px;
    height: 158px;
    background-image: url("./img/purina-frame-2-main-img.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
}
.sto-purina-frame2-top-right {
    width: 522px;
    height: 158px;
    float: right;
}
.sto-purina-top-text {
    font-size: 11px;
    font-family: "Trebuchet MS", arial, sans-serif;
    color: rgb(100, 102, 100);
    text-align: left;
    width: 452px;
    height: 98px;
    margin: 0 auto;
    margin-top: 34px;
}
.sto-purina-top-text-bold {
    margin-top: 15px;
    font-weight: bold;
}
.sto-purina-frame2-bottom {
    height: 365px;
    box-shadow: 0px 0px 4px 1px #ccc;
    margin-top: 25px;
    position: relative;
}
.sto-purina-frame2-nav-list, .sto-purina-frame3-nav-list {
    height: 35px;
    background-color: rgb(224, 5, 31);
}
.sto-purina-frame2-nav-item, .sto-purina-frame3-nav-item {
    background-color: #fff;
    height: 35px;
    float: left;
    width: 16.66667%;
    text-align: center;
    line-height: 35px;
    font-size: 12px;
    font-family: "Trebuchet MS", arial, sans-serif;
    color: rgb(100, 102, 100);
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    cursor: pointer;
}
.sto-purina-frame3-nav-item:nth-child(5), .sto-purina-frame3-nav-item:nth-child(6) {
    line-height: 1em;
    padding-top: 5px;
    height: 30px;
}
.sto-purina-frame3-nav-item:nth-child(5):hover, .sto-purina-frame3-nav-item:nth-child(6):hover, .sto-purina-frame3-nav-item:nth-child(5).purina-nav-current, .sto-purina-frame3-nav-item:nth-child(6).purina-nav-current {
    height: 28px;
}
.sto-purina-frame2-nav-item:hover, .sto-purina-frame3-nav-item:hover {
    height: 33px;
    color: rgb(224, 5, 31);
}
.sto-purina-frame2-nav-item.purina-nav-current, .sto-purina-frame3-nav-item.purina-nav-current {
    height: 33px;
    color: rgb(224, 5, 31);
}
.sto-purina-frame2-nav-item.purina-nav-current {
    background-image: url("./img/purina-frame-2-ico-paw.png");
    background-position: left 3px center;
    background-repeat: no-repeat;
}
.sto-purina-noprod {
    position: absolute;
    font-family: "Tartine Script", arial, sans-serif;
    font-size: 26px;
    color: rgb(224, 5, 31);
    z-index: 999;
    left: 284px;
    top: 149px;
    width: 400px;
}
.sto-purina-frame3-nav-item.purina-nav-current {
    background-image: url("./img/purina-frame-3-ico-paw.png");
    background-position: left 5px center;
    background-repeat: no-repeat;
}
.nav-chats-arrow, .nav-chiens-arrow {
    width: 10px;
    height: 5px;
    background-image: url("./img/arrow.png");
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -7px;
    left: 50%;
    margin-left: -5px;
}
.sto-purina-porducts-container-chat, .sto-purina-porducts-container-chien {
    width: 900px;
    height: 330px;
    margin: 0 auto;
}
.sto-purina-porducts-chat, .sto-purina-porducts-chien {
    height: 290px;
    padding-top: 20px;
    position: relative;
}
.sto-purina-porducts-chat>div, .sto-purina-porducts-chien>div {
    position: absolute;
    display: none;
}
.sto-purina-porducts-chat>div#sto-chat-section-current, .sto-purina-porducts-chien>div#sto-chien-section-current {
    display: block;
}
#sto-mbr-tg-purina .item {
    margin: 0px 27px;
    width: 170px;
    float: left;
}
#sto-mbr-tg-purina .item .inner {
    position: relative;
}
#sto-mbr-tg-purina .item div.picture {
    height: 140px;
    text-align: center;
}
#sto-mbr-tg-purina .item .price {
    height: 40px;
    padding-top: 35px;
}
#sto-mbr-tg-purina .item .price .info {
    float: left;
    font-family: arial, sans-serif;
    font-size: 11px;
    color: #a6a6a6;
    margin-top: 10px;
}
#sto-mbr-tg-purina .item .price .ok {
    position: absolute;
    font-family: arial, sans-serif;
    font-size: 24px;
    right: 7px;
    margin-top: 11px;
    color: #e31e4a;
    font-weight: 700;
    letter-spacing: -1px;
}
#sto-mbr-tg-purina .item .desc {
    height: 39px;
}
#sto-mbr-tg-purina .item .desc p a {
    font-family: arial, sans-serif;
    font-size: 11px;
    text-decoration: none;
    font-weight: bold;
    color: #444;
}
#sto-mbr-tg-purina .item div.note {
    position: relative;
    height: 15px;
    margin-bottom: 10px;
    display: none;
}
#sto-mbr-tg-purina .item div.note span {
    position: absolute;
    top: 0;
    right: -13px;
    display: block;
    width: 117px;
    height: 19px;
    padding-left: 10px;
    background: url(./img/bg_incart.png) no-repeat;
    font-size: 11px;
    line-height: 15px;
    color: #fff;
}
.sto-mbr-purina-frame3 {
    background-color: #fff;
    padding: 10px 20px 15px 20px;
}
.sto-purina-frame3-top {
    height: 158px;
}
.sto-purina-frame3-top-left {
    width: 429px;
    height: 158px;
    background-image: url("./img/purina-frame-3-main-img.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
}
.sto-purina-frame3-top-right {
    width: 522px;
    height: 158px;
    float: right;
}
.sto-purina-frame3-bottom {
    height: 365px;
    box-shadow: 0px 0px 4px 1px #ccc;
    margin-top: 25px;
    position: relative;
}

/*****************   addtocart    *******************/

#sto-mbr-tg-cereales div.actions {
    position: relative;
    height: 30px;
    width: 171px;
    line-height: 30px;
    background: #c7dae6;
    background: -webkit-gradient(linear, left top, left bottom, from(#d7e8f3), to(#c7dae6));
    background: -moz-linear-gradient(top, #d7e8f3, #c7dae6);
    ms-filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#d7e8f3', endColorstr='#c7dae6');
}
#sto-mbr-tg-cereales div.actions ul li {
    float: left;
}
#sto-mbr-tg-cereales div.actions a.moins, div.actions a.moins0 {
    background: url(./img/button/moins.png) center no-repeat #CFE1EC;
}
#sto-mbr-tg-cereales div.actions input.text {
    width: 51px;
    height: 19px;
    text-align: center;
}
#sto-mbr-tg-cereales div.actions input.text:focus {
    color: #999;
}
#sto-mbr-tg-cereales div.actions a.plus {
    background: url(./img/button/plus.png) center no-repeat #CFE1EC;
}
#sto-mbr-tg-cereales div.actions a.liste {
    background-image: url(./img/button/add_to_liste.jpg);
}
#sto-mbr-tg-cereales div.actions ul li a {
    float: left;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    text-decoration: none;
    color: #444;
}
#sto-mbr-tg-cereales div.actions a.cart {
    background-image: url(./img/button/add_to_cart.jpg);
}

/*****************   addtocart  purina  *******************/

#sto-mbr-tg-purina div.actions {
    position: relative;
    height: 30px;
    width: 171px;
    line-height: 30px;
    background: #c7dae6;
    background: -webkit-gradient(linear, left top, left bottom, from(#d7e8f3), to(#c7dae6));
    background: -moz-linear-gradient(top, #d7e8f3, #c7dae6);
    ms-filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#d7e8f3', endColorstr='#c7dae6');
}
#sto-mbr-tg-purina div.actions ul li {
    float: left;
}
#sto-mbr-tg-purina div.actions a.moins, div.actions a.moins0 {
    background: url(./img/button/moins.png) center no-repeat #CFE1EC;
}
#sto-mbr-tg-purina div.actions input.text {
    width: 51px;
    height: 19px;
    text-align: center;
}
#sto-mbr-tg-purina div.actions input.text:focus {
    color: #999;
}
#sto-mbr-tg-purina div.actions a.plus {
    background: url(./img/button/plus.png) center no-repeat #CFE1EC;
}
#sto-mbr-tg-purina div.actions a.liste {
    background-image: url(./img/button/add_to_liste.jpg);
}
#sto-mbr-tg-purina div.actions ul li a {
    float: left;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    text-decoration: none;
    color: #444;
}
#sto-mbr-tg-purina div.actions a.cart {
    background-image: url(./img/button/add_to_cart.jpg);
}

/*.sto-jajoute-store-container::-webkit-scrollbar {
    width: 5px;
    height: 50px;
}
.sto-jajoute-store-container::-webkit-scrollbar-track {
    background-color: #ccc;
    border-radius: 5px;
}
.sto-jajoute-store-container::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #666;
}*/


/*
== malihu jquery custom scrollbar plugin ==
Plugin URI: http://manos.malihu.gr/jquery-custom-content-scroller
*/


/*
CONTENTS:
	1. BASIC STYLE - Plugin's basic/essential CSS properties (normally, should not be edited).
	2. VERTICAL SCROLLBAR - Positioning and dimensions of vertical scrollbar.
	3. HORIZONTAL SCROLLBAR - Positioning and dimensions of horizontal scrollbar.
	4. VERTICAL AND HORIZONTAL SCROLLBARS - Positioning and dimensions of 2-axis scrollbars.
	5. TRANSITIONS - CSS3 transitions for hover events, auto-expanded and auto-hidden scrollbars.
	6. SCROLLBAR COLORS, OPACITY AND BACKGROUNDS
		6.1 THEMES - Scrollbar colors, opacity, dimensions, backgrounds etc. via ready-to-use themes.
*/


/*
------------------------------------------------------------------------------------------------------------------------
1. BASIC STYLE
------------------------------------------------------------------------------------------------------------------------
*/

.mCustomScrollbar {
    -ms-touch-action: pinch-zoom;
    touch-action: pinch-zoom;
    /* direct pointer events to js */
}
.mCustomScrollbar.mCS_no_scrollbar, .mCustomScrollbar.mCS_touch_action {
    -ms-touch-action: auto;
    touch-action: auto;
}
.mCustomScrollBox {
    /* contains plugin's markup */
    position: relative;
    overflow: hidden;
    height: 100%;
    max-width: 100%;
    outline: none;
    direction: ltr;
}
.mCSB_container {
    /* contains the original content */
    overflow: hidden;
    width: auto;
    height: auto;
}

/*
------------------------------------------------------------------------------------------------------------------------
2. VERTICAL SCROLLBAR
y-axis
------------------------------------------------------------------------------------------------------------------------
*/

.mCSB_inside>.mCSB_container {
    margin-right: 30px;
}
.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
    margin-right: 0;
}

/* non-visible scrollbar */

.mCS-dir-rtl>.mCSB_inside>.mCSB_container {
    /* RTL direction/left-side scrollbar */
    margin-right: 0;
    margin-left: 30px;
}
.mCS-dir-rtl>.mCSB_inside>.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
    margin-left: 0;
}

/* RTL direction/left-side scrollbar */

.mCSB_scrollTools {
    /* contains scrollbar markup (draggable element, dragger rail, buttons etc.) */
    position: absolute;
    width: 16px;
    height: auto;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
}
.mCSB_outside+.mCSB_scrollTools {
    right: -26px;
}

/* scrollbar position: outside */

.mCS-dir-rtl>.mCSB_inside>.mCSB_scrollTools, .mCS-dir-rtl>.mCSB_outside+.mCSB_scrollTools {
    /* RTL direction/left-side scrollbar */
    right: auto;
    left: 0;
}
.mCS-dir-rtl>.mCSB_outside+.mCSB_scrollTools {
    left: -26px;
}

/* RTL direction/left-side scrollbar (scrollbar position: outside) */

.mCSB_scrollTools .mCSB_draggerContainer {
    /* contains the draggable element and dragger rail markup */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
}
.mCSB_scrollTools a+.mCSB_draggerContainer {
    margin: 20px 0;
}
.mCSB_scrollTools .mCSB_draggerRail {
    width: 2px;
    height: 100%;
    margin: 0 auto;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}
.mCSB_scrollTools .mCSB_dragger {
    /* the draggable element */
    cursor: pointer;
    width: 100%;
    height: 30px;
    /* minimum dragger height */
    z-index: 1;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    /* the dragger element */
    position: relative;
    width: 4px;
    height: 100%;
    margin: 0 auto;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    text-align: center;
}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar, .mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
    width: 12px;
    /* auto-expanded scrollbar */
}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded+.mCSB_draggerRail, .mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
    width: 8px;
    /* auto-expanded scrollbar */
}
.mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown {
    display: block;
    position: absolute;
    height: 20px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    cursor: pointer;
}
.mCSB_scrollTools .mCSB_buttonDown {
    bottom: 0;
}

/*
------------------------------------------------------------------------------------------------------------------------
3. HORIZONTAL SCROLLBAR
x-axis
------------------------------------------------------------------------------------------------------------------------
*/

.mCSB_horizontal.mCSB_inside>.mCSB_container {
    margin-right: 0;
    margin-bottom: 30px;
}
.mCSB_horizontal.mCSB_outside>.mCSB_container {
    min-height: 100%;
}
.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar_x.mCS_x_hidden {
    margin-bottom: 0;
}

/* non-visible scrollbar */

.mCSB_scrollTools.mCSB_scrollTools_horizontal {
    width: auto;
    height: 16px;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
}
.mCustomScrollBox+.mCSB_scrollTools.mCSB_scrollTools_horizontal, .mCustomScrollBox+.mCSB_scrollTools+.mCSB_scrollTools.mCSB_scrollTools_horizontal {
    bottom: -26px;
}

/* scrollbar position: outside */

.mCSB_scrollTools.mCSB_scrollTools_horizontal a+.mCSB_draggerContainer {
    margin: 0 20px;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
    width: 100%;
    height: 2px;
    margin: 7px 0;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger {
    width: 30px;
    /* minimum dragger width */
    height: 100%;
    left: 0;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    width: 100%;
    height: 4px;
    margin: 6px auto;
}
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar, .mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
    height: 12px;
    /* auto-expanded scrollbar */
    margin: 2px auto;
}
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded+.mCSB_draggerRail, .mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
    height: 8px;
    /* auto-expanded scrollbar */
    margin: 4px 0;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft, .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
    display: block;
    position: absolute;
    width: 20px;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    cursor: pointer;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft {
    left: 0;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
    right: 0;
}

/*
------------------------------------------------------------------------------------------------------------------------
4. VERTICAL AND HORIZONTAL SCROLLBARS
yx-axis
------------------------------------------------------------------------------------------------------------------------
*/

.mCSB_container_wrapper {
    position: absolute;
    height: auto;
    width: auto;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-right: 30px;
    margin-bottom: 30px;
}
.mCSB_container_wrapper>.mCSB_container {
    padding-right: 30px;
    padding-bottom: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.mCSB_vertical_horizontal>.mCSB_scrollTools.mCSB_scrollTools_vertical {
    bottom: 20px;
}
.mCSB_vertical_horizontal>.mCSB_scrollTools.mCSB_scrollTools_horizontal {
    right: 20px;
}

/* non-visible horizontal scrollbar */

.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden+.mCSB_scrollTools.mCSB_scrollTools_vertical {
    bottom: 0;
}

/* non-visible vertical scrollbar/RTL direction/left-side scrollbar */

.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden+.mCSB_scrollTools~.mCSB_scrollTools.mCSB_scrollTools_horizontal, .mCS-dir-rtl>.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside>.mCSB_scrollTools.mCSB_scrollTools_horizontal {
    right: 0;
}

/* RTL direction/left-side scrollbar */

.mCS-dir-rtl>.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside>.mCSB_scrollTools.mCSB_scrollTools_horizontal {
    left: 20px;
}

/* non-visible scrollbar/RTL direction/left-side scrollbar */

.mCS-dir-rtl>.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside>.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden+.mCSB_scrollTools~.mCSB_scrollTools.mCSB_scrollTools_horizontal {
    left: 0;
}
.mCS-dir-rtl>.mCSB_inside>.mCSB_container_wrapper {
    /* RTL direction/left-side scrollbar */
    margin-right: 0;
    margin-left: 30px;
}
.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden>.mCSB_container {
    padding-right: 0;
}
.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden>.mCSB_container {
    padding-bottom: 0;
}
.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside>.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden {
    margin-right: 0;
    /* non-visible scrollbar */
    margin-left: 0;
}

/* non-visible horizontal scrollbar */

.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside>.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden {
    margin-bottom: 0;
}

/*
------------------------------------------------------------------------------------------------------------------------
5. TRANSITIONS
------------------------------------------------------------------------------------------------------------------------
*/

.mCSB_scrollTools, .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown, .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_scrollTools .mCSB_buttonRight {
    -webkit-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
    transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar,
/* auto-expanded scrollbar */

.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail, .mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar, .mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail {
    -webkit-transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
    -moz-transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
    -o-transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
    transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
}

/*
------------------------------------------------------------------------------------------------------------------------
6. SCROLLBAR COLORS, OPACITY AND BACKGROUNDS
------------------------------------------------------------------------------------------------------------------------
*/


/*
	----------------------------------------
	6.1 THEMES
	----------------------------------------
	*/


/* default theme ("light") */

.mCSB_scrollTools {
    opacity: 0.75;
    filter: "alpha(opacity=75)";
    -ms-filter: "alpha(opacity=75)";
}
.mCS-autoHide>.mCustomScrollBox>.mCSB_scrollTools, .mCS-autoHide>.mCustomScrollBox~.mCSB_scrollTools {
    opacity: 0;
    filter: "alpha(opacity=0)";
    -ms-filter: "alpha(opacity=0)";
}
.mCustomScrollbar>.mCustomScrollBox>.mCSB_scrollTools.mCSB_scrollTools_onDrag, .mCustomScrollbar>.mCustomScrollBox~.mCSB_scrollTools.mCSB_scrollTools_onDrag, .mCustomScrollBox:hover>.mCSB_scrollTools, .mCustomScrollBox:hover~.mCSB_scrollTools, .mCS-autoHide:hover>.mCustomScrollBox>.mCSB_scrollTools, .mCS-autoHide:hover>.mCustomScrollBox~.mCSB_scrollTools {
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
}
.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.4);
    filter: "alpha(opacity=40)";
    -ms-filter: "alpha(opacity=40)";
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.75);
    filter: "alpha(opacity=75)";
    -ms-filter: "alpha(opacity=75)";
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.85);
    filter: "alpha(opacity=85)";
    -ms-filter: "alpha(opacity=85)";
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.9);
    filter: "alpha(opacity=90)";
    -ms-filter: "alpha(opacity=90)";
}
.mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown, .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_scrollTools .mCSB_buttonRight {
    background-image: url(./img/mCSB_buttons.png);
    /* css sprites */
    background-repeat: no-repeat;
    opacity: 0.4;
    filter: "alpha(opacity=40)";
    -ms-filter: "alpha(opacity=40)";
}
.mCSB_scrollTools .mCSB_buttonUp {
    background-position: 0 0;
    /*
		sprites locations
		light: 0 0, -16px 0, -32px 0, -48px 0, 0 -72px, -16px -72px, -32px -72px
		dark: -80px 0, -96px 0, -112px 0, -128px 0, -80px -72px, -96px -72px, -112px -72px
		*/
}
.mCSB_scrollTools .mCSB_buttonDown {
    background-position: 0 -20px;
    /*
		sprites locations
		light: 0 -20px, -16px -20px, -32px -20px, -48px -20px, 0 -92px, -16px -92px, -32px -92px
		dark: -80px -20px, -96px -20px, -112px -20px, -128px -20px, -80px -92px, -96px -92px, -112 -92px
		*/
}
.mCSB_scrollTools .mCSB_buttonLeft {
    background-position: 0 -40px;
    /*
		sprites locations
		light: 0 -40px, -20px -40px, -40px -40px, -60px -40px, 0 -112px, -20px -112px, -40px -112px
		dark: -80px -40px, -100px -40px, -120px -40px, -140px -40px, -80px -112px, -100px -112px, -120px -112px
		*/
}
.mCSB_scrollTools .mCSB_buttonRight {
    background-position: 0 -56px;
    /*
		sprites locations
		light: 0 -56px, -20px -56px, -40px -56px, -60px -56px, 0 -128px, -20px -128px, -40px -128px
		dark: -80px -56px, -100px -56px, -120px -56px, -140px -56px, -80px -128px, -100px -128px, -120px -128px
		*/
}
.mCSB_scrollTools .mCSB_buttonUp:hover, .mCSB_scrollTools .mCSB_buttonDown:hover, .mCSB_scrollTools .mCSB_buttonLeft:hover, .mCSB_scrollTools .mCSB_buttonRight:hover {
    opacity: 0.75;
    filter: "alpha(opacity=75)";
    -ms-filter: "alpha(opacity=75)";
}
.mCSB_scrollTools .mCSB_buttonUp:active, .mCSB_scrollTools .mCSB_buttonDown:active, .mCSB_scrollTools .mCSB_buttonLeft:active, .mCSB_scrollTools .mCSB_buttonRight:active {
    opacity: 0.9;
    filter: "alpha(opacity=90)";
    -ms-filter: "alpha(opacity=90)";
}

/* theme: "dark" */

.mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.15);
}
.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.75);
}
.mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: rgba(0, 0, 0, 0.85);
}
.mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: rgba(0, 0, 0, 0.9);
}
.mCS-dark.mCSB_scrollTools .mCSB_buttonUp {
    background-position: -80px 0;
}
.mCS-dark.mCSB_scrollTools .mCSB_buttonDown {
    background-position: -80px -20px;
}
.mCS-dark.mCSB_scrollTools .mCSB_buttonLeft {
    background-position: -80px -40px;
}
.mCS-dark.mCSB_scrollTools .mCSB_buttonRight {
    background-position: -80px -56px;
}

/* ---------------------------------------- */


/* theme: "light-2", "dark-2" */

.mCS-light-2.mCSB_scrollTools .mCSB_draggerRail, .mCS-dark-2.mCSB_scrollTools .mCSB_draggerRail {
    width: 4px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mCS-light-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-dark-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 4px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.75);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mCS-light-2.mCSB_scrollTools_horizontal .mCSB_draggerRail, .mCS-dark-2.mCSB_scrollTools_horizontal .mCSB_draggerRail, .mCS-light-2.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-dark-2.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    width: 100%;
    height: 4px;
    margin: 6px auto;
}
.mCS-light-2.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.85);
}
.mCS-light-2.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-light-2.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.9);
}
.mCS-light-2.mCSB_scrollTools .mCSB_buttonUp {
    background-position: -32px 0;
}
.mCS-light-2.mCSB_scrollTools .mCSB_buttonDown {
    background-position: -32px -20px;
}
.mCS-light-2.mCSB_scrollTools .mCSB_buttonLeft {
    background-position: -40px -40px;
}
.mCS-light-2.mCSB_scrollTools .mCSB_buttonRight {
    background-position: -40px -56px;
}

/* theme: "dark-2" */

.mCS-dark-2.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mCS-dark-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mCS-dark-2.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.85);
}
.mCS-dark-2.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-dark-2.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.9);
}
.mCS-dark-2.mCSB_scrollTools .mCSB_buttonUp {
    background-position: -112px 0;
}
.mCS-dark-2.mCSB_scrollTools .mCSB_buttonDown {
    background-position: -112px -20px;
}
.mCS-dark-2.mCSB_scrollTools .mCSB_buttonLeft {
    background-position: -120px -40px;
}
.mCS-dark-2.mCSB_scrollTools .mCSB_buttonRight {
    background-position: -120px -56px;
}

/* ---------------------------------------- */


/* theme: "light-thick", "dark-thick" */

.mCS-light-thick.mCSB_scrollTools .mCSB_draggerRail, .mCS-dark-thick.mCSB_scrollTools .mCSB_draggerRail {
    width: 4px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.mCS-light-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 6px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.75);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.mCS-light-thick.mCSB_scrollTools_horizontal .mCSB_draggerRail, .mCS-dark-thick.mCSB_scrollTools_horizontal .mCSB_draggerRail {
    width: 100%;
    height: 4px;
    margin: 6px 0;
}
.mCS-light-thick.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-dark-thick.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    width: 100%;
    height: 6px;
    margin: 5px auto;
}
.mCS-light-thick.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.85);
}
.mCS-light-thick.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-light-thick.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.9);
}
.mCS-light-thick.mCSB_scrollTools .mCSB_buttonUp {
    background-position: -16px 0;
}
.mCS-light-thick.mCSB_scrollTools .mCSB_buttonDown {
    background-position: -16px -20px;
}
.mCS-light-thick.mCSB_scrollTools .mCSB_buttonLeft {
    background-position: -20px -40px;
}
.mCS-light-thick.mCSB_scrollTools .mCSB_buttonRight {
    background-position: -20px -56px;
}

/* theme: "dark-thick" */

.mCS-dark-thick.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.85);
}
.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-dark-thick.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.9);
}
.mCS-dark-thick.mCSB_scrollTools .mCSB_buttonUp {
    background-position: -96px 0;
}
.mCS-dark-thick.mCSB_scrollTools .mCSB_buttonDown {
    background-position: -96px -20px;
}
.mCS-dark-thick.mCSB_scrollTools .mCSB_buttonLeft {
    background-position: -100px -40px;
}
.mCS-dark-thick.mCSB_scrollTools .mCSB_buttonRight {
    background-position: -100px -56px;
}

/* ---------------------------------------- */


/* theme: "light-thin", "dark-thin" */

.mCS-light-thin.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
}
.mCS-light-thin.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-dark-thin.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 2px;
}
.mCS-light-thin.mCSB_scrollTools_horizontal .mCSB_draggerRail, .mCS-dark-thin.mCSB_scrollTools_horizontal .mCSB_draggerRail {
    width: 100%;
}
.mCS-light-thin.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-dark-thin.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    width: 100%;
    height: 2px;
    margin: 7px auto;
}

/* theme "dark-thin" */

.mCS-dark-thin.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.15);
}
.mCS-dark-thin.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.75);
}
.mCS-dark-thin.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.85);
}
.mCS-dark-thin.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-dark-thin.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.9);
}
.mCS-dark-thin.mCSB_scrollTools .mCSB_buttonUp {
    background-position: -80px 0;
}
.mCS-dark-thin.mCSB_scrollTools .mCSB_buttonDown {
    background-position: -80px -20px;
}
.mCS-dark-thin.mCSB_scrollTools .mCSB_buttonLeft {
    background-position: -80px -40px;
}
.mCS-dark-thin.mCSB_scrollTools .mCSB_buttonRight {
    background-position: -80px -56px;
}

/* ---------------------------------------- */


/* theme "rounded", "rounded-dark", "rounded-dots", "rounded-dots-dark" */

.mCS-rounded.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.15);
}
.mCS-rounded.mCSB_scrollTools .mCSB_dragger, .mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger, .mCS-rounded-dots.mCSB_scrollTools .mCSB_dragger, .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger {
    height: 14px;
}
.mCS-rounded.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-rounded-dots.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 14px;
    margin: 0 1px;
}
.mCS-rounded.mCSB_scrollTools_horizontal .mCSB_dragger, .mCS-rounded-dark.mCSB_scrollTools_horizontal .mCSB_dragger, .mCS-rounded-dots.mCSB_scrollTools_horizontal .mCSB_dragger, .mCS-rounded-dots-dark.mCSB_scrollTools_horizontal .mCSB_dragger {
    width: 14px;
}
.mCS-rounded.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-rounded-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-rounded-dots.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-rounded-dots-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    height: 14px;
    margin: 1px 0;
}
.mCS-rounded.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar, .mCS-rounded.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar, .mCS-rounded-dark.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar, .mCS-rounded-dark.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
    width: 16px;
    /* auto-expanded scrollbar */
    height: 16px;
    margin: -1px 0;
}
.mCS-rounded.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded+.mCSB_draggerRail, .mCS-rounded.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail, .mCS-rounded-dark.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded+.mCSB_draggerRail, .mCS-rounded-dark.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
    width: 4px;
    /* auto-expanded scrollbar */
}
.mCS-rounded.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar, .mCS-rounded.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar, .mCS-rounded-dark.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar, .mCS-rounded-dark.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
    height: 16px;
    /* auto-expanded scrollbar */
    width: 16px;
    margin: 0 -1px;
}
.mCS-rounded.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded+.mCSB_draggerRail, .mCS-rounded.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail, .mCS-rounded-dark.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded+.mCSB_draggerRail, .mCS-rounded-dark.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
    height: 4px;
    /* auto-expanded scrollbar */
    margin: 6px 0;
}
.mCS-rounded.mCSB_scrollTools .mCSB_buttonUp {
    background-position: 0 -72px;
}
.mCS-rounded.mCSB_scrollTools .mCSB_buttonDown {
    background-position: 0 -92px;
}
.mCS-rounded.mCSB_scrollTools .mCSB_buttonLeft {
    background-position: 0 -112px;
}
.mCS-rounded.mCSB_scrollTools .mCSB_buttonRight {
    background-position: 0 -128px;
}

/* theme "rounded-dark", "rounded-dots-dark" */

.mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.75);
}
.mCS-rounded-dark.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.15);
}
.mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar, .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.85);
}
.mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.9);
}
.mCS-rounded-dark.mCSB_scrollTools .mCSB_buttonUp {
    background-position: -80px -72px;
}
.mCS-rounded-dark.mCSB_scrollTools .mCSB_buttonDown {
    background-position: -80px -92px;
}
.mCS-rounded-dark.mCSB_scrollTools .mCSB_buttonLeft {
    background-position: -80px -112px;
}
.mCS-rounded-dark.mCSB_scrollTools .mCSB_buttonRight {
    background-position: -80px -128px;
}

/* theme "rounded-dots", "rounded-dots-dark" */

.mCS-rounded-dots.mCSB_scrollTools_vertical .mCSB_draggerRail, .mCS-rounded-dots-dark.mCSB_scrollTools_vertical .mCSB_draggerRail {
    width: 4px;
}
.mCS-rounded-dots.mCSB_scrollTools .mCSB_draggerRail, .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_draggerRail, .mCS-rounded-dots.mCSB_scrollTools_horizontal .mCSB_draggerRail, .mCS-rounded-dots-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail {
    background-color: transparent;
    background-position: center;
}
.mCS-rounded-dots.mCSB_scrollTools .mCSB_draggerRail, .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_draggerRail {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAANElEQVQYV2NkIAAYiVbw//9/Y6DiM1ANJoyMjGdBbLgJQAX/kU0DKgDLkaQAvxW4HEvQFwCRcxIJK1XznAAAAABJRU5ErkJggg==");
    background-repeat: repeat-y;
    opacity: 0.3;
    filter: "alpha(opacity=30)";
    -ms-filter: "alpha(opacity=30)";
}
.mCS-rounded-dots.mCSB_scrollTools_horizontal .mCSB_draggerRail, .mCS-rounded-dots-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail {
    height: 4px;
    margin: 6px 0;
    background-repeat: repeat-x;
}
.mCS-rounded-dots.mCSB_scrollTools .mCSB_buttonUp {
    background-position: -16px -72px;
}
.mCS-rounded-dots.mCSB_scrollTools .mCSB_buttonDown {
    background-position: -16px -92px;
}
.mCS-rounded-dots.mCSB_scrollTools .mCSB_buttonLeft {
    background-position: -20px -112px;
}
.mCS-rounded-dots.mCSB_scrollTools .mCSB_buttonRight {
    background-position: -20px -128px;
}

/* theme "rounded-dots-dark" */

.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_draggerRail {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAALElEQVQYV2NkIAAYSVFgDFR8BqrBBEifBbGRTfiPZhpYjiQFBK3A6l6CvgAAE9kGCd1mvgEAAAAASUVORK5CYII=");
}
.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_buttonUp {
    background-position: -96px -72px;
}
.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_buttonDown {
    background-position: -96px -92px;
}
.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_buttonLeft {
    background-position: -100px -112px;
}
.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_buttonRight {
    background-position: -100px -128px;
}

/* ---------------------------------------- */


/* theme "3d", "3d-dark", "3d-thick", "3d-thick-dark" */

.mCS-3d.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-3d-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-3d-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-repeat: repeat-y;
    background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
}
.mCS-3d.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-3d-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-3d-thick.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-3d-thick-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
}

/* theme "3d", "3d-dark" */

.mCS-3d.mCSB_scrollTools_vertical .mCSB_dragger, .mCS-3d-dark.mCSB_scrollTools_vertical .mCSB_dragger {
    height: 70px;
}
.mCS-3d.mCSB_scrollTools_horizontal .mCSB_dragger, .mCS-3d-dark.mCSB_scrollTools_horizontal .mCSB_dragger {
    width: 70px;
}
.mCS-3d.mCSB_scrollTools, .mCS-3d-dark.mCSB_scrollTools {
    opacity: 1;
    filter: "alpha(opacity=30)";
    -ms-filter: "alpha(opacity=30)";
}
.mCS-3d.mCSB_scrollTools .mCSB_draggerRail, .mCS-3d.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-3d-dark.mCSB_scrollTools .mCSB_draggerRail, .mCS-3d-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}
.mCS-3d.mCSB_scrollTools .mCSB_draggerRail, .mCS-3d-dark.mCSB_scrollTools .mCSB_draggerRail {
    width: 8px;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 1px 0 1px rgba(0, 0, 0, 0.5), inset -1px 0 1px rgba(255, 255, 255, 0.2);
}
.mCS-3d.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-3d.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar, .mCS-3d.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-3d.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .mCS-3d-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-3d-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar, .mCS-3d-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-3d-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #555;
}
.mCS-3d.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-3d-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 8px;
}
.mCS-3d.mCSB_scrollTools_horizontal .mCSB_draggerRail, .mCS-3d-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail {
    width: 100%;
    height: 8px;
    margin: 4px 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), inset 0 -1px 1px rgba(255, 255, 255, 0.2);
}
.mCS-3d.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-3d-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    width: 100%;
    height: 8px;
    margin: 4px auto;
}
.mCS-3d.mCSB_scrollTools .mCSB_buttonUp {
    background-position: -32px -72px;
}
.mCS-3d.mCSB_scrollTools .mCSB_buttonDown {
    background-position: -32px -92px;
}
.mCS-3d.mCSB_scrollTools .mCSB_buttonLeft {
    background-position: -40px -112px;
}
.mCS-3d.mCSB_scrollTools .mCSB_buttonRight {
    background-position: -40px -128px;
}

/* theme "3d-dark" */

.mCS-3d-dark.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: inset 1px 0 1px rgba(0, 0, 0, 0.1);
}
.mCS-3d-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}
.mCS-3d-dark.mCSB_scrollTools .mCSB_buttonUp {
    background-position: -112px -72px;
}
.mCS-3d-dark.mCSB_scrollTools .mCSB_buttonDown {
    background-position: -112px -92px;
}
.mCS-3d-dark.mCSB_scrollTools .mCSB_buttonLeft {
    background-position: -120px -112px;
}
.mCS-3d-dark.mCSB_scrollTools .mCSB_buttonRight {
    background-position: -120px -128px;
}

/* ---------------------------------------- */


/* theme: "3d-thick", "3d-thick-dark" */

.mCS-3d-thick.mCSB_scrollTools, .mCS-3d-thick-dark.mCSB_scrollTools {
    opacity: 1;
    filter: "alpha(opacity=30)";
    -ms-filter: "alpha(opacity=30)";
}
.mCS-3d-thick.mCSB_scrollTools, .mCS-3d-thick-dark.mCSB_scrollTools, .mCS-3d-thick.mCSB_scrollTools .mCSB_draggerContainer, .mCS-3d-thick-dark.mCSB_scrollTools .mCSB_draggerContainer {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.mCS-3d-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.mCSB_inside+.mCS-3d-thick.mCSB_scrollTools_vertical, .mCSB_inside+.mCS-3d-thick-dark.mCSB_scrollTools_vertical {
    right: 1px;
}
.mCS-3d-thick.mCSB_scrollTools_vertical, .mCS-3d-thick-dark.mCSB_scrollTools_vertical {
    box-shadow: inset 1px 0 1px rgba(0, 0, 0, 0.1), inset 0 0 14px rgba(0, 0, 0, 0.5);
}
.mCS-3d-thick.mCSB_scrollTools_horizontal, .mCS-3d-thick-dark.mCSB_scrollTools_horizontal {
    bottom: 1px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 0 14px rgba(0, 0, 0, 0.5);
}
.mCS-3d-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.4);
    width: 12px;
    margin: 2px;
    position: absolute;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.mCS-3d-thick.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-3d-thick-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
}
.mCS-3d-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-3d-thick.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar, .mCS-3d-thick.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-3d-thick.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #555;
}
.mCS-3d-thick.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-3d-thick-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    height: 12px;
    width: auto;
}
.mCS-3d-thick.mCSB_scrollTools .mCSB_draggerContainer {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: inset 1px 1px 16px rgba(0, 0, 0, 0.1);
}
.mCS-3d-thick.mCSB_scrollTools .mCSB_draggerRail {
    background-color: transparent;
}
.mCS-3d-thick.mCSB_scrollTools .mCSB_buttonUp {
    background-position: -32px -72px;
}
.mCS-3d-thick.mCSB_scrollTools .mCSB_buttonDown {
    background-position: -32px -92px;
}
.mCS-3d-thick.mCSB_scrollTools .mCSB_buttonLeft {
    background-position: -40px -112px;
}
.mCS-3d-thick.mCSB_scrollTools .mCSB_buttonRight {
    background-position: -40px -128px;
}

/* theme: "3d-thick-dark" */

.mCS-3d-thick-dark.mCSB_scrollTools {
    box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.2);
}
.mCS-3d-thick-dark.mCSB_scrollTools_horizontal {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 0 14px rgba(0, 0, 0, 0.2);
}
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.4), inset -1px 0 0 rgba(0, 0, 0, 0.2);
}
.mCS-3d-thick-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar, .mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-3d-thick-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #777;
}
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_draggerContainer {
    background-color: #fff;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: inset 1px 1px 16px rgba(0, 0, 0, 0.1);
}
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_draggerRail {
    background-color: transparent;
}
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_buttonUp {
    background-position: -112px -72px;
}
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_buttonDown {
    background-position: -112px -92px;
}
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_buttonLeft {
    background-position: -120px -112px;
}
.mCS-3d-thick-dark.mCSB_scrollTools .mCSB_buttonRight {
    background-position: -120px -128px;
}

/* ---------------------------------------- */


/* theme: "minimal", "minimal-dark" */

.mCSB_outside+.mCS-minimal.mCSB_scrollTools_vertical, .mCSB_outside+.mCS-minimal-dark.mCSB_scrollTools_vertical {
    right: 0;
    margin: 12px 0;
}
.mCustomScrollBox.mCS-minimal+.mCSB_scrollTools.mCSB_scrollTools_horizontal, .mCustomScrollBox.mCS-minimal+.mCSB_scrollTools+.mCSB_scrollTools.mCSB_scrollTools_horizontal, .mCustomScrollBox.mCS-minimal-dark+.mCSB_scrollTools.mCSB_scrollTools_horizontal, .mCustomScrollBox.mCS-minimal-dark+.mCSB_scrollTools+.mCSB_scrollTools.mCSB_scrollTools_horizontal {
    bottom: 0;
    margin: 0 12px;
}

/* RTL direction/left-side scrollbar */

.mCS-dir-rtl>.mCSB_outside+.mCS-minimal.mCSB_scrollTools_vertical, .mCS-dir-rtl>.mCSB_outside+.mCS-minimal-dark.mCSB_scrollTools_vertical {
    left: 0;
    right: auto;
}
.mCS-minimal.mCSB_scrollTools .mCSB_draggerRail, .mCS-minimal-dark.mCSB_scrollTools .mCSB_draggerRail {
    background-color: transparent;
}
.mCS-minimal.mCSB_scrollTools_vertical .mCSB_dragger, .mCS-minimal-dark.mCSB_scrollTools_vertical .mCSB_dragger {
    height: 50px;
}
.mCS-minimal.mCSB_scrollTools_horizontal .mCSB_dragger, .mCS-minimal-dark.mCSB_scrollTools_horizontal .mCSB_dragger {
    width: 50px;
}
.mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    filter: "alpha(opacity=20)";
    -ms-filter: "alpha(opacity=20)";
}
.mCS-minimal.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-minimal.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    filter: "alpha(opacity=50)";
    -ms-filter: "alpha(opacity=50)";
}

/* theme: "minimal-dark" */

.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.2);
    filter: "alpha(opacity=20)";
    -ms-filter: "alpha(opacity=20)";
}
.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.5);
    filter: "alpha(opacity=50)";
    -ms-filter: "alpha(opacity=50)";
}

/* ---------------------------------------- */


/* theme "light-3", "dark-3" */

.mCS-light-3.mCSB_scrollTools .mCSB_draggerRail, .mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail {
    width: 6px;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.2);
}
.mCS-light-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 6px;
}
.mCS-light-3.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-dark-3.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-light-3.mCSB_scrollTools_horizontal .mCSB_draggerRail, .mCS-dark-3.mCSB_scrollTools_horizontal .mCSB_draggerRail {
    width: 100%;
    height: 6px;
    margin: 5px 0;
}
.mCS-light-3.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded+.mCSB_draggerRail, .mCS-light-3.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail, .mCS-dark-3.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded+.mCSB_draggerRail, .mCS-dark-3.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
    width: 12px;
}
.mCS-light-3.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded+.mCSB_draggerRail, .mCS-light-3.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail, .mCS-dark-3.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded+.mCSB_draggerRail, .mCS-dark-3.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
    height: 12px;
    margin: 2px 0;
}
.mCS-light-3.mCSB_scrollTools .mCSB_buttonUp {
    background-position: -32px -72px;
}
.mCS-light-3.mCSB_scrollTools .mCSB_buttonDown {
    background-position: -32px -92px;
}
.mCS-light-3.mCSB_scrollTools .mCSB_buttonLeft {
    background-position: -40px -112px;
}
.mCS-light-3.mCSB_scrollTools .mCSB_buttonRight {
    background-position: -40px -128px;
}

/* theme "dark-3" */

.mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.75);
}
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.85);
}
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-dark-3.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.9);
}
.mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.1);
}
.mCS-dark-3.mCSB_scrollTools .mCSB_buttonUp {
    background-position: -112px -72px;
}
.mCS-dark-3.mCSB_scrollTools .mCSB_buttonDown {
    background-position: -112px -92px;
}
.mCS-dark-3.mCSB_scrollTools .mCSB_buttonLeft {
    background-position: -120px -112px;
}
.mCS-dark-3.mCSB_scrollTools .mCSB_buttonRight {
    background-position: -120px -128px;
}

/* ---------------------------------------- */


/* theme "inset", "inset-dark", "inset-2", "inset-2-dark", "inset-3", "inset-3-dark" */

.mCS-inset.mCSB_scrollTools .mCSB_draggerRail, .mCS-inset-dark.mCSB_scrollTools .mCSB_draggerRail, .mCS-inset-2.mCSB_scrollTools .mCSB_draggerRail, .mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail, .mCS-inset-3.mCSB_scrollTools .mCSB_draggerRail, .mCS-inset-3-dark.mCSB_scrollTools .mCSB_draggerRail {
    width: 12px;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.2);
}
.mCS-inset.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-inset-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-inset-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-inset-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 6px;
    margin: 3px 5px;
    position: absolute;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.mCS-inset.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-inset-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-inset-2.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-inset-2-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-inset-3.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-inset-3-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    height: 6px;
    margin: 5px 3px;
    position: absolute;
    width: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.mCS-inset.mCSB_scrollTools_horizontal .mCSB_draggerRail, .mCS-inset-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail, .mCS-inset-2.mCSB_scrollTools_horizontal .mCSB_draggerRail, .mCS-inset-2-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail, .mCS-inset-3.mCSB_scrollTools_horizontal .mCSB_draggerRail, .mCS-inset-3-dark.mCSB_scrollTools_horizontal .mCSB_draggerRail {
    width: 100%;
    height: 12px;
    margin: 2px 0;
}
.mCS-inset.mCSB_scrollTools .mCSB_buttonUp, .mCS-inset-2.mCSB_scrollTools .mCSB_buttonUp, .mCS-inset-3.mCSB_scrollTools .mCSB_buttonUp {
    background-position: -32px -72px;
}
.mCS-inset.mCSB_scrollTools .mCSB_buttonDown, .mCS-inset-2.mCSB_scrollTools .mCSB_buttonDown, .mCS-inset-3.mCSB_scrollTools .mCSB_buttonDown {
    background-position: -32px -92px;
}
.mCS-inset.mCSB_scrollTools .mCSB_buttonLeft, .mCS-inset-2.mCSB_scrollTools .mCSB_buttonLeft, .mCS-inset-3.mCSB_scrollTools .mCSB_buttonLeft {
    background-position: -40px -112px;
}
.mCS-inset.mCSB_scrollTools .mCSB_buttonRight, .mCS-inset-2.mCSB_scrollTools .mCSB_buttonRight, .mCS-inset-3.mCSB_scrollTools .mCSB_buttonRight {
    background-position: -40px -128px;
}

/* theme "inset-dark", "inset-2-dark", "inset-3-dark" */

.mCS-inset-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.75);
}
.mCS-inset-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar, .mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar, .mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.85);
}
.mCS-inset-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-inset-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.9);
}
.mCS-inset-dark.mCSB_scrollTools .mCSB_draggerRail, .mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail, .mCS-inset-3-dark.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.1);
}
.mCS-inset-dark.mCSB_scrollTools .mCSB_buttonUp, .mCS-inset-2-dark.mCSB_scrollTools .mCSB_buttonUp, .mCS-inset-3-dark.mCSB_scrollTools .mCSB_buttonUp {
    background-position: -112px -72px;
}
.mCS-inset-dark.mCSB_scrollTools .mCSB_buttonDown, .mCS-inset-2-dark.mCSB_scrollTools .mCSB_buttonDown, .mCS-inset-3-dark.mCSB_scrollTools .mCSB_buttonDown {
    background-position: -112px -92px;
}
.mCS-inset-dark.mCSB_scrollTools .mCSB_buttonLeft, .mCS-inset-2-dark.mCSB_scrollTools .mCSB_buttonLeft, .mCS-inset-3-dark.mCSB_scrollTools .mCSB_buttonLeft {
    background-position: -120px -112px;
}
.mCS-inset-dark.mCSB_scrollTools .mCSB_buttonRight, .mCS-inset-2-dark.mCSB_scrollTools .mCSB_buttonRight, .mCS-inset-3-dark.mCSB_scrollTools .mCSB_buttonRight {
    background-position: -120px -128px;
}

/* theme "inset-2", "inset-2-dark" */

.mCS-inset-2.mCSB_scrollTools .mCSB_draggerRail, .mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    border-color: rgba(255, 255, 255, 0.2);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail {
    border-color: #000;
    border-color: rgba(0, 0, 0, 0.2);
}

/* theme "inset-3", "inset-3-dark" */

.mCS-inset-3.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.6);
}
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.6);
}
.mCS-inset-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.75);
}
.mCS-inset-3.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.85);
}
.mCS-inset-3.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-inset-3.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.9);
}
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.75);
}
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.85);
}
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.9);
}

/* ---------------------------------------- */
