<div id="sto-mbr-tg-cereales" class="clearfix">

    <div class="sto-mbr-cereales-frame1">
        <div class="sto-cereales-frame1-decou-paquets"></div>
        <div class="sto-cereales-frame1-decou-barres"></div>
        <div class="sto-cereales-frame1-savoir"></div>
    </div>
    <div class="sto-mbr-cereales-frame2 clearfix">
        <div class="sto-cereales-frame2-top">
            <div class="sto-cereales-frame2-top-left"></div>
            <div class="sto-cereales-frame2-top-right"></div>
        </div>
        <div class="sto-cereales-frame2-bottom">
            <div class="sto-cereales-frame2-left"></div>
            <div class="sto-cereales-frame2-right"></div>
            <div class="sto-cereales-frame2-noprod">Produit temporairement indisponible.</div>
            <div class="sto-cereales-frame2-nav">
                <div class="sto-cereales-frame2-nav-item sto-cereales-frame2-nav-current"></div>
                <div class="sto-cereales-frame2-nav-item"></div>
            </div>
            <div class="sto-cereales-paquets-carrousel"></div>
        </div>
    </div>
    <div class="sto-mbr-cereales-frame3">
        <div class="sto-cereales-frame3-top">
            <div class="sto-cereales-frame3-top-left"></div>
            <div class="sto-cereales-frame3-top-right"></div>
        </div>
        <div class="sto-cereales-frame3-bottom">
            <div class="sto-cereales-frame3-left"></div>
            <div class="sto-cereales-frame3-right"></div>
            <div class="sto-cereales-frame3-noprod">Produit temporairement indisponible.</div>
            <div class="sto-cereales-frame3-nav">
                <div class="sto-cereales-frame3-nav-item sto-cereales-frame3-nav-current"></div>
                <div class="sto-cereales-frame3-nav-item"></div>
            </div>
            <div class="sto-cereales-barres-carrousel"></div>
        </div>
    </div>
    <div class="sto-mbr-cereales-frame4"></div>


</div>
