*{
  padding:0;
  margin:0;
  border:0;
}

*{
  padding:0;
  margin:0;
  border:0;
  list-style: none;
}
.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
body{
  background-image: url('./img/bg.png');
  background-repeat: repeat;
}
#sto-mbr-tg-global{
  width:1000px;
  margin: 20px auto;
  margin-bottom: 80px;
  position: relative;
}
#sto-mbr-tg-header{
width: 1000px;
height: 113px;
background-color: #fff;
position: relative;
box-shadow: 0px -3px 17px 0px #ccc;
}
.sto-mbr-tg-logo{
  position: absolute;
width: 404px;
height: 81px;
left: 293px;
cursor: pointer;
}
.sto-mbr-tg-top{
  width: 1000px;
  height: 128px;
  background-image: url('./img/header.png');
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: -10px;
}

.sto-mbr-tg-jecontinue {
  text-align: right;
  font-size: 11.5px;
  font-family: "Lato",arial, sans-serif;
  font-style: italic;
  text-decoration: underline;
  line-height: 1.25;
  margin: 15px 15px 0 0;
}
.sto-mbr-tg-jecontinue a{

  color: rgb(109, 110, 113);

}

#sto-mbr-tg-nav{
    width: 862px;
    height: 43px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
#sto-mbr-tg-nav li {
    float: left;
    padding: 0 14px;
    border-right: 1px solid #ccc;
    line-height: 0.9em;
    margin-top: 13px;
    font-family: "Tartine Script", arial, sans-serif;
    color: rgb(38, 147, 195);
    font-size: 19px;
    cursor: pointer;
}
#sto-mbr-tg-nav li:hover, #sto-mbr-tg-nav li#sto-mbr-nav-current {
    color: #b9c432;
}
#sto-mbr-tg-nav li:last-child {
    border-right: none;
}
